{% extends 'example/base.html'%}

{% block body %}
<html>
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
</head>
<body>
    <div id="about">
			<span id="about-span" style="font-family:Showcard Gothic; color:#E48632;font-size:45px; left:7%;position:relative;"><br>ABOUT US</span>
			<div class="about-div">
				<hr style="display:block;border: 1px solid #FF7700;">
			<p style="color: white; font-size: 23px"> We are a group of Second Year Engineering students of KJSCE interested in programming and gaming.This website has been developed as a part of our S.E Engineering Project. Hopefully you like it! </p>
			<div class = "outside" style="align-items: center">

				<div class = "cont1">
					<img src = "https://raw.githubusercontent.com/SaurabhNandy/SaurabhNandy.github.io/master/images/avatar.png" alt = "Photo" class = "image" style="width:100%">
					<div class = "middle">
						<div class="text">Ansh Rathod</div>
					</div>
				</div>

				<div class = "cont1">
					<img src = "https://raw.githubusercontent.com/SaurabhNandy/SaurabhNandy.github.io/master/images/avatar.png" alt = "Photo" class = "image" style="width:100%">
					<div class = "middle">
						<div class="text">Saurabh Nandy</div>
					</div>
				</div>

				<div class = "cont1">
					<img src = "https://raw.githubusercontent.com/SaurabhNandy/SaurabhNandy.github.io/master/images/avatar.png" alt = "Photo" class = "image" style="width:100%">
					<div class = "middle">
						<div class="text">Meet Shah</div>
					</div>
				</div>

				<!--div class = "cont1">
					<img src ="https://raw.githubusercontent.com/SaurabhNandy/SaurabhNandy.github.io/master/images/avatar.png" alt = "Photo" class = "image" style="width:100%">
					<div class = "middle">
						<div class="text">Jasmine Shaikh</div>
					</div>
				</div-->
			</div>
			</div>
</div>
</body>
</html>

{% endblock %}