{% extends 'example/base.html'%}

{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> GAMES </title>
</head>
<body>
    <!-- GAME PAGE-->
		<div id="games" class="game-page" >
			<div id = 'mainDiv'>
				<span id="games-span" style="font-family:Showcard Gothic ; color:#E48632;font-size:45px;left:5%;position:relative;"><br>OUR GAMES</span>
				<hr style="border: 1px solid #FF7700;width:90%;"><br>
			<!-- Game 1-->
				<div id='parentDiv'>
					<div class = 'child1' >
						<a class="game-display" href="https://www.youtube.com/watch?v=K0u_kAWLJOA"><img style="float: left; width:420px; height:378px" src="https://raw.githubusercontent.com/SaurabhNandy/SaurabhNandy.github.io/master/images/God-of-War.png"></a>
						<div class = 'Description'>
							<p>
								<h1 style="line-height: 0px;font-family: Showcard Gothic ;font-size:38px"><u>GOD OF WAR</u></h1>
							<br>
								<span style = "font-size : 15px;"> Action RPG | PS4 </span><br><br>
								God of War is a mythology-based action-adventure video game franchise.<br>
								Created by David Jaffe at Sony's Santa Monica Studio, the series debuted<br>
								in 2005 on the PlayStation 2 (PS2) video game console, and has become<br>
								a flagship title for the PlayStation brand.

								<!-- Trigger/Open The Modal -->
								<div class="rm" onclick="document.getElementById('game1-modal').style.display='block'">Read More</div>
								<br>
							</p>
							<a class="game-link" href ="https://www.youtube.com/watch?v=K0u_kAWLJOA"><p class = 'LinkPara' style = "background-color: #000000;">WATCH <br>TRAILER</p></a>
							<a ><p class = 'LinkPara' style="right: -40px; background-color: #000000; position: relative;"> GAMESPOT <br><c style="font-size:20px">9.3</c></p></a>
							<a ><p class = 'LinkPara' style="right: -80px; background-color: #000000; position: relative;">METACRITIC <br><c style="font-size:20px">94</c> </p></a>
							<a  class="game-link" href="https://www.playstation.com/en-in/games/god-of-war-ps4/buy-now/" target="_blank"><p class = 'LinkPara' style="right: -120px; background-color: #000000; position: relative;"> GET <br> GAME </p></a>
						</div>
					</div>
				</div>
<br><br><br>
			<!-- Game 2-->
				<div id='parentDiv'>
					<div class = 'child1' >
						<a href="https://www.youtube.com/watch?v=wzx96gYA8ek"><img style="float: left; width:420px; height:378px" src="https://raw.githubusercontent.com/SaurabhNandy/SaurabhNandy.github.io/master/images/hzd%20(2).jpg"></a>
						<div class = 'Description'>
							<p>
								<h1 style="line-height: 0px; font-family:Showcard Gothic;font-size:38px;"><u>Horizon Zero Dawn</u></h1><br>
								<span style = "font-size : 15px;"> Action RPG | PS4 </span><br><br>
								In a lush, post-apocalyptic world where nature has reclaimed the ruins of a<br>
								forgotten civilization, pockets of humanity live in primitive hunter tribes.<br>
								Their dominion over the new wilderness has been usurped by the Machines <br>
								– fearsome mechanical creatures of unknown origin.
								<div class="rm" onclick="document.getElementById('game2-modal').style.display='block'">Read More</div>
								<br>
							</p>
							<a class="game-link" href="https://www.youtube.com/watch?v=wzx96gYA8ek"><p class = 'LinkPara' style = "background-color: #000000;">WATCH <br>TRAILER</p></a>
							<a><p class = 'LinkPara' style="right: -40px; background-color: #000000; position: relative;"> GAMESPOT <br><c style="font-size:20px">9</c></p></a>
							<a><p class = 'LinkPara' style="right: -80px; background-color: #000000; position: relative;">METACRITIC <br><c style="font-size:20px">89</c></p></a>
							<a class="game-link" href="https://www.playstation.com/en-in/games/horizon-zero-dawn-ps4/buy-now/"><p class = 'LinkPara' style="right: -120px; background-color: #000000; position: relative;"> GET <br> GAME </p></a>
						</div>
					</div>
				</div>
<br><br><br>
			<!-- Game 3-->
				<div id='parentDiv'>
					<div class = 'child1' >
						<a href="https://www.youtube.com/watch?v=QV7PK8AVEKA"><img style="float: left;width:420px; height:378px" src="https://raw.githubusercontent.com/SaurabhNandy/SaurabhNandy.github.io/master/images/fifa.jpg"></a>
						<div class = 'Description'>
							<p>
								<h1 style="line-height: 0px;font-family:Showcard Gothic;font-size:38px;"><u>FIFA 18</u></h1><br>
								<span style = "font-size : 15px;"> Sports | PS4 </span><br><br>
								Powered by the Frostbite engine, EA SPORTS FIFA 18 blurs the line <br>
								between the virtual and real worlds, bringing to life the players, <br>
								teams and atmospheres of the sport. Experience the thrill of glory, <br>
								the agony of defeat- experience it all with PlayStation4.
								<div class="rm" onclick="document.getElementById('game3-modal').style.display='block'">Read More</div>
								<br>
							</p>
							<a class="game-link" href="https://www.youtube.com/watch?v=QV7PK8AVEKA" target="_blank"><p class = 'LinkPara' style = "background-color: #000000;">WATCH <br>TRAILER</p></a>
							<a> <p class = 'LinkPara' style="right: -40px; background-color: #000000; position: relative;">GAMESPOT<br><c style="font-size:20px">7</c></p></a>
							<a><p class = 'LinkPara' style="right: -80px; background-color: #000000; position: relative;">METACRITIC<br><c style="font-size:20px">83</c>  </p></a>
							<a class="game-link" href="https://www.playstation.com/en-in/games/ea-sports-fifa-18-ps4/buy-now/"><p class = 'LinkPara' style="right: -120px; background-color: #000000; position: relative;"> GET <br> GAME </p></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Game1 Modal -->
			<div id="game1-modal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
				<div class="modal-header">
				<span onclick="document.getElementById('game1-modal').style.display='none'"  class="close">&times;</span>
				<h2>GOD OF WAR</h2>
				</div>
				<div class="modal-body">
				  <hr style="border: 1px solid #F39C12;margin-bottom: 25px; ">

				  <h3 class="game-modal-h3">About</h3>
				  <p style="margin-left:23px;">The story is about Kratos, a Spartan warrior tricked into killing his wife and daughter by his former master, the Greek God of War Ares. Kratos kills Ares and becomes the new God of War, but is still haunted by the nightmares of his past. Revealed to be the son of Zeus, who later betrays Kratos, the Spartan then seeks revenge against the Olympian gods for their machinations.</p>
				  <img class="gamesimg" src="images/god of war1.png" alt="God Of War" >

				  <h3 class="game-modal-h3">A Bold New Narrative</h3>
				  <p style="margin-left:23px;">As mentor and protector to a son determined to earn his respect,Kratos is faced with an unexpected opportunity to master the rage that has long defined him. Questioning the dark lineage he’s passed on to his offspring, he hopes to make amends for the shortcomings – and horrors – of his past.</p>
				  <img class="gamesimg" src="images/god of war3.jpg" alt="God Of War">

				  <h3 class="game-modal-h3">A Darker World</h3>
				  <p style="margin-left:23px;">Set within the untamed forests, mountains and realms of Norse lore, steel yourself for a distinctively new and dangerous land complete with its own pantheon of creatures, monsters and gods.</p>
				  <img class="gamesimg" src="images/god of war4.jpg" alt="God Of War">

				  <h3 class="game-modal-h3">Vicious Combat</h3>
				  <p style="margin-left:23px;">With an intimate, over-the-shoulder free camera that brings the action closer than ever, combat is up close, frenetic and unflinching. Kratos’ powerful magic axe is a brutal weapon as well as a versatile tool for exploration. Always be on your guard.</p>
				  <img class="gamesimg" src="images/god of war6.jpg" alt="God Of War">

				  <br>
				  <hr style="border: 1px solid #F39C12;margin-bottom: 15px; ">
				  <button type="button" onclick="document.getElementById('game1-modal').style.display='none'" class="close-button">Close</button>
				</div>
			  </div>
			</div>

			<!-- Game2 Modal -->
			<div id="game2-modal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
				<div class="modal-header">
				<span onclick="document.getElementById('game2-modal').style.display='none'"  class="close">&times;</span>
				<h2>HORIZON ZERO DAWN</h2>
				</div>
				<div class="modal-body">
				  <hr style="border: 1px solid #F39C12;margin-bottom: 25px; ">

				  <h3 class="game-modal-h3">About</h3>
				  <p style="margin-left:23px;">Play as Aloy, a young hunter on a quest to discover her destiny among the remnants of the ancient past.  Shunned by her own tribe since birth, Aloy has learned to harness her agility, cunning, and deadly aim to hunt the Machines, defend against rival tribes, and survive in the unforgiving wilds.</p>
				  <img class="gamesimg" style="height:720px;" src="images/hzd1.png" alt="Horizon Zero Dawn" >

				  <h3 class="game-modal-h3">The next era of mankind</h3>
				  <p style="margin-left:23px;">Make sure you don’t miss a thing in Aloy’s lush, open and deadly world - experience the full Horizon Zero Dawn adventure.</p>
				  <img class="gamesimg" src="images/hzd2.jpg" alt="Horizon Zero Dawn">

				  <h3 class="game-modal-h3">The Frozen Wilds</h3>
				  <p style="margin-left:23px;">Travel with Aloy to the borderlands of the survivalist Banuk tribe to investigate a mysterious new Machine threat. Only by enduring the harsh landscape and earning the respect of the Banuk, will Aloy gain the allies, abilities and knowledge she needs to uncover a secret from the past – and stop a threat to the future…</p>
				  <img class="gamesimg" src="images/hzd3.png" alt="Horizon Zero Dawn">

				  <h3 class="game-modal-h3">Against overwhelming odds</h3>
				  <p style="margin-left:23px;">Engage in a deep, rewarding role-playing experience that involves highly varied tactical combat. Fuse primitive gear with advanced technology to craft devices that turn predators to prey. Develop unique strategies to take down different Machines, and hack trapped specimens to do your bidding.</p>
				  <img class="gamesimg" src="images/hzd4.jpg" alt="Horizon Zero Dawn">

				  <br>
				  <hr style="border: 1px solid #F39C12;margin-bottom: 15px; ">
				  <button type="button" onclick="document.getElementById('game2-modal').style.display='none'" class="close-button">Close</button>
				</div>
			  </div>
			</div>

			<!-- Game3 Modal -->
			<div id="game3-modal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
				<div class="modal-header">
				<span onclick="document.getElementById('game3-modal').style.display='none'"  class="close">&times;</span>
				  <h2>FIFA 18</h2>
				</div>
				<div class="modal-body">
				  <hr style="border: 1px solid #F39C12;margin-bottom: 25px; ">

				  <h3 class="game-modal-h3">Experience the emotion</h3>
				  <p style="margin-left:23px;">Feel the excitement and drama of football's greatest event with the authentic tournament experience through official FIFA World Cup elements, featuring all 32 qualified national teams, match balls, stadiums, and the iconic trophy - rendered in the Frostbite game engine for the first time.</p>
				  <img class="gamesimg" style="height:540px;" src="images/fifa1.jpg" alt="Horizon Zero Dawn" >

				  <h3 class="game-modal-h3">Change the game</h3>
				  <p style="margin-left:23px;">See the world of football differently with EA SPORTS FIFA 18 – and step on to a pitch of glorious possibilities. With the most up to date squads, stadia and tournaments, powered by the mighty Frostbite engine, the “game of gods” is brought to life with incredible style on PS4.</p>
				  <img class="gamesimg" src="images/fifa2.jpg" alt="Horizon Zero Dawn">

				  <h3 class="game-modal-h3">Fuelled by the world’s best</h3>
				  <p style="margin-left:23px;">With the motion capture of Cristiano Ronaldo – the reigning FIFA Men’s Best Player, back-to-back European Champion and global ambassador for FIFA 18 – the Real Madrid superstar helps deliver even more fluidity, player responsiveness and other incredible gameplay elements.</p>
				  <img class="gamesimg" src="images/fifa3.jpg" alt="Horizon Zero Dawn">

				  <h3 class="game-modal-h3">FIFA 18 World Cup mode</h3>
				  <p style="margin-left:23px;">Play FIFA's most popular mode in the new, exciting FIFA World Cup Ultimate Team experience. Build your dream international squad with stars from all 32 qualified nations, plus legendary FIFA World Cup Icons.</p>
				  <img class="gamesimg" src="images/fifa4.jpg" alt="Horizon Zero Dawn">

				  <br>
				  <hr style="border: 1px solid #F39C12;margin-bottom: 15px; ">
				  <button type="button" onclick="document.getElementById('game3-modal').style.display='none'" class="close-button">Close</button>
				</div>
			  </div>
			</div>
			<br><br><br>
</div>
</body>
</html>

{% endblock %}